---
Checks: '
    -*,
    bugprone-*,
    cert-*,
    clang-analyzer-*,
    concurrency-*,
    cppcoreguidelines-*,
    misc-*,
    -misc-no-recursion,
    modernize-*,
    -modernize-use-trailing-return-type,
    performance-*,
    portability-*,
    readability-*,
    -readability-identifier-length
'

HeaderFilterRegex:   'khepri/'

CheckOptions:
    - { key: readability-identifier-naming.NamespaceCase, value: lower_case }
    - { key: readability-identifier-naming.EnumCase, value: CamelCase }
    - { key: readability-identifier-naming.ClassCase, value: CamelCase }
    - { key: readability-identifier-naming.StructCase, value: CamelCase }
    - { key: readability-identifier-naming.EnumConstantCase, value: lower_case }
    - { key: readability-identifier-naming.MemberCase, value: lower_case }
    - { key: readability-identifier-naming.FunctionCase, value: lower_case }
    - { key: readability-identifier-naming.PrivateMemberPrefix, value: m_ }
    - { key: readability-identifier-naming.GlobalConstantCase, value: UPPER_CASE }
    - { key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic, value: true }

